<div class="card">

    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-comments me-3"></i>Detalles de la Cita</h5>
    </div>

    <div class="card-body p-5">

        <div id="contenedor">

            <div id="caja1">

                <h4>Codigo de la Cita</h4> <p id="">{{detalleCita?.codigoCita}}</p>

                <h4>Nombre del Paciente:</h4> <p>{{detalleCita?.nombrePaciente}}</p>

                <h4>Cedula del Paciente</h4> <p>{{detalleCita?.cedulaPaciente}}</p>

                <h4>Nombre del Medico</h4> <p>{{detalleCita?.nombreMedico}}</p>

                <h4>Codigo del Medico</h4> <p>{{detalleCita?.codigoMedico}}</p>

                <h4>Especialidad del Medico</h4> <p>{{detalleCita?.especialidad}}</p>
                
                
            </div>

            <div id="caja2">

                <h4>Estado de la Cita</h4> <p>{{detalleCita?.estadoCita}}</p>

                <h4>Motivo de la Cita</h4> <p>{{detalleCita?.motivo}}</p>

                <h4>Sede</h4> <p>{{detalleCita?.sede}}</p>

                <h4>Fecha de la Cita</h4> <p>{{detalleCita?.fecha}}</p>

            </div>

        </div>
    </div>
</div>