<div class="card">

    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-comments me-3"></i>Detalles de la PQRS</h5>
    </div>

    <div class="card-body p-5">

        <div id="contenedor">

            <div id="caja1">

                <h4>Nombre del Paciente:</h4>
                <p>{{pqrs?.nombrePaciente}}</p>

                <h4>Nombre del Medico</h4>
                <p>{{pqrs?.nombreMedico}}</p>

                <h4>Especialidad del Medico</h4>
                <p>{{pqrs?.especialidad}}</p>

                <h4>Estado de la PQRS</h4>
                <p id="estadoPQRS">{{pqrs?.estado}}</p>

                <h4>Especialidad del Medico</h4>
                <p>{{pqrs?.especialidad}}</p>

            </div>

            <div id="caja2">

                <h4>Motivo de la PQRS</h4>
                <p>{{pqrs?.motivoPQRS}}</p>

                <h4>Fecha de Creacion de la PQRS</h4>
                <p>{{pqrs?.fecha}}</p>

            </div>

        </div>

    </div>

</div>


<div class="card">

    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-comments me-3"></i>Mensajes de la PQRS</h5>
    </div>

    <div class="card-body p-5">


        <div id="caja3">

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Mensajes PQRS: </label>
                <div class="col-sm-10">
                    <textarea type="text" name="motivo" required class="form-control"
                        [(ngModel)]="mensajesPQRS"></textarea>
                </div>
            </div>


        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Escribir Mensaje Nuevo: </label>
            <div class="col-sm-10">
                <input #cedula="ngModel"
                    [ngClass]="cedula.invalid && (cedula.dirty || cedula.touched) ? 'is-invalid' : ''" type="text"
                    name="cedula" class="form-control" required [(ngModel)]="registroRespuestaDTO.mensaje" />
            </div>
        </div>


        <button class="btn btn-primary" type="submit" (click)="enviarMensaje()">
            <i class="fa-solid fa-circle-plus me-1"></i>Enviar Mensaje
        </button>


    </div>

</div>